html,body{ 
  height: 100vh;
  margin:0; 
  padding:0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "nav header"
    "nav content"
    "nav footer";

  grid-template-columns: 140px 1fr;
  grid-template-rows: auto 1fr;
 
  height: 100vh;
}
aside {
  grid-area: nav;
  background: #2d3446;
}
main {
  background: #f1f3f6;
}
header {
  display: flex;
}
header .title{
  flex:1;
}
header button {
  align-self: center;
  margin-right: 10px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  cursor: pointer;
}
